.entry-screen {
  margin-bottom: 263px;
  position: relative;
  @include media-breakpoint-down(sm) {
    margin-bottom: 131px;
  }
  @include media-breakpoint-down(xs) {
    margin-bottom: 96px;
  }
  &__text {
    max-width: 425px;
    width: 50%;
    margin-top: 200px;
    opacity: 0;
    @include media-breakpoint-down(md) {
      margin: 100px 0 50px 50px;
      width: auto;
    }
    @include media-breakpoint-down(xs) {
      margin: 42px 5px 27px;
    }
    h1 {
      margin-bottom: 21px;
    }
    &.aos-init {
      display: block;
      opacity: 0;
      transform: translate(-40px, -5px);
    }
    &.aos-animate {
      opacity: 1;
      transform: translate(0, 0);
      transition: 0.5s;
      transition-delay: 0.3s;
    }
  }
  &__video {
    height: 610px;
    width: 50%;
    overflow: hidden;
    transition: 0.5s;
    @include media-breakpoint-down(md) {
      width: 74%;
      margin-left: -15px;
      height: 410px;
      min-width: 238px;
    }
    @include media-breakpoint-down(xs) {
      height: 255px;
    }
    &.aos-init {
      position: relative;
      &:before {
        content: "";
        background-color: $color-white;
        position: absolute;
        width: 102%;
        height: 102%;
        z-index: 1;
        transition: 0.6s;
        transition-delay: 1s;
        top: 0;
        right: -4px;
      }
    }
    &.aos-animate {
      &:before {
        width: 0;
      }
    }
    video {
      height: calc(100% + 2px);
      position: relative;
      top: -1px;
    }
  }
  .container-box {
    overflow: visible;
    position: relative;
    &:after {
      content: "";
      background-color: #f1f1f1;
      height: 202px;
      width: 54.8%;
      max-width: 626px;
      position: absolute;
      right: -150px;
      bottom: -100px;
      z-index: -1;
      @media (min-width: 1440px) {
        right: calc((100vw - 1172px) / -2);
        width: calc((100vw - 1172px + 476px) / 2);
        max-width: none;
      }
      @include media-breakpoint-down(md) {
        width: 84.5%;
        max-width: none;
        right: 0;
      }
      @include media-breakpoint-down(sm) {
        height: 85px;
        bottom: -42px;
      }
    }
    &.aos-init {
      &:after {
        width: 0;
      }
    }
    &.aos-animate {
      &:after {
        transition: 0.6s;
        transition-delay: 1.3s;
        width: 54.8%;
        @media (min-width: 1440px) {
          width: calc((100vw - 1172px + 952px) / 2);
        }
        @include media-breakpoint-down(md) {
          width: 84.5%;
          max-width: none;
        }
      }
    }
  }
}
.home-phrase {
  padding-left: 95px;
  max-width: 50%;
  margin-left: auto;
  margin-bottom: 135px;
  margin-top: 96px;
  @include media-breakpoint-down(lg) {
    padding-left: 55px;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 0;
    margin-top: 94px;
    margin-bottom: 94px;
    max-width: 291px;
    width: 100%;
  }
  &.aos-init {
    opacity: 0;
    transform: translate(-40px, -5px);
  }
  &.aos-animate {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.7s;
  }
}
.home-grad-block {
  padding: 55px 0 230px;
  @include media-breakpoint-down(sm) {
    padding: 0 0 115px;
  }
  @include media-breakpoint-down(xs) {
    padding: 0 0 115px;
  }
  &__left {
    max-width: 666px;
    width: 50%;
    margin-top: 64px;
    margin-left: auto;
    margin-right: -118px;
    padding: 110px 118px 120px;
    background-color: $grey;
    position: relative;
    z-index: 3;
    h2 {
      margin-bottom: 26px;
    }
    p {
      margin-bottom: 22px;
    }
    @include media-breakpoint-down(lg) {
      padding: 55px 58px 60px;
    }
    @include media-breakpoint-down(md) {
      margin-right: -59px;
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 0;
      padding: 50px 23px;
    }
    &__content {
      .btn--link {
        @media (max-width: 430px) {
          line-height: 20px;
          text-align: center;
        }
      }
    }
    &.aos-init {
      opacity: 0;
      transform: translate(-35px, -2px);
    }
    &.aos-animate {
      opacity: 1;
      transform: translate(0, 0);
      transition: 0.4s;
      transition-delay: 0.3s;
    }
  }
  &__right {
    width: 50%;
    position: relative;
    height: 518px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: auto;
      width: 203px;
      height: 728px;
      background-image: linear-gradient(-134deg, #2e3092 0%, #44b97b 100%);
      z-index: -1;
      @media (min-width: 1440px) {
        right: calc((100vw - 1440px) / -2);
        width: calc((100vw - 1440px + 406px) / 2);
      }
      @include media-breakpoint-down(sm) {
        width: 85px;
        height: 100%;
        top: auto;
        bottom: -100px;
      }
    }
    @include media-breakpoint-down(md) {
      width: 74%;
      height: 410px;
      min-width: 238px;
      margin-right: -2px;
    }
    @include media-breakpoint-down(sm) {
      margin-left: auto;
    }
    @include media-breakpoint-down(xs) {
      height: auto;
    }
    &__img {
      margin-left: -2px;
      position: relative;
      overflow: hidden;
      max-width: 572px;
      z-index: 2;
      height: 100%;
      width: calc(50vw - 148px);
      transition: 0.65s;
      transition-delay: 1.4s;
      @include media-breakpoint-down(lg) {
        width: calc(50vw - 74px);
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
      @include media-breakpoint-down(xs) {
        height: 161px;
        width: 100%;
        margin-left: auto;
      }
      video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 100%;
        object-fit: cover;
        @include media-breakpoint-down(md) {
          min-width: 238px;
        }
        @include media-breakpoint-down(sm) {
          height: auto;
          width: 100%;
          object-fit: cover;
        }
      }
      @include media-breakpoint-down(lg) {
        width: calc(50vw - 74px);
      }
      @include media-breakpoint-down(xs) {
        height: 161px;
        width: 100%;
      }
    }
    &.aos-init {
      &:before {
        width: 0;
      }
      .home-grad-block__right__img {
        overflow: hidden;
        height: 100%;
        width: 0;
      }
    }
    &.aos-animate {
      &:before {
        width: 203px;
        transition: 0.5s;
        transition-delay: 1s;
        @media (min-width: 1440px) {
          width: calc((100vw - 1440px + 406px) / 2);
        }
        @include media-breakpoint-down(sm) {
          width: 85px;
        }
      }
      .home-grad-block__right__img {
        height: 100%;
        width: calc(50vw - 148px);
        transition: 0.65s;
        transition-delay: 1.4s;
        @include media-breakpoint-down(lg) {
          width: calc(50vw - 74px);
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
        @include media-breakpoint-down(xs) {
          height: 161px;
          width: 100%;
          margin-left: auto;
        }
      }
    }
  }
}
.fuel-structure {
  width: 100%;
  margin-bottom: 312px;
  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
    margin-bottom: 156px;
  }
  @include media-breakpoint-down(xs) {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  &__left {
    width: 50%;
    @include media-breakpoint-down(sm) {
      margin: auto;
      width: auto;
    }
    &__drop {
      position: relative;
      margin-left: auto;
      margin-right: 105px;
      max-width: 389px;
      // background-size: 950px;
      background-size: cover;
      background-position-y: 58%;
      background-repeat: no-repeat;
      animation: bg-anim 8s infinite;
      animation-timing-function: linear;
      @keyframes bg-anim {
        0% {
          background-position-x: 0;
        }
        100% {
          background-position-x: 100%;
        }
      }
      img {
        width: 101%;
        height: auto;
      }
      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &__text {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      span {
        color: $color-blue;
        font-family: $source;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.86px;
        line-height: 22px;
        position: absolute;
        white-space: nowrap;
        &:nth-child(1) {
          top: 88px;
          left: 71px;
          @media (max-width: 354px) {
            top: 60px;
          }
        }
        &:nth-child(2) {
          top: 163px;
          left: 80px;
          @include media-breakpoint-down(md) {
            left: 12%;
          }
        }
        &:nth-child(3) {
          top: 163px;
          left: 260px;
          @include media-breakpoint-down(md) {
            left: 75%;
          }
        }
        &:nth-child(4) {
          top: 230px;
          left: 280px;
          @include media-breakpoint-down(md) {
            left: 80%;
          }
          @include media-breakpoint-down(xs) {
            top: 70%;
            left: 70%;
          }
        }
      }
      p {
        font-size: 16px;
        width: 100%;
        max-width: 295px;
        position: absolute;
        bottom: 43px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        @include media-breakpoint-down(xs) {
          bottom: 20px;
        }
      }
    }
    &.aos-init {
      opacity: 0;
      transform: translateY(-50px);
    }
    &.aos-animate {
      opacity: 1;
      transform: translateY(0);
      transition: 0.4s;
      transition-delay: 0.7s;
    }
  }
  &__right {
    width: 50%;
    padding-left: 94px;
    @include media-breakpoint-down(sm) {
      margin-right: auto;
      padding-left: 0 !important;
      width: auto;
    }
    h2 {
      margin-bottom: 24px;
    }
    p {
      margin-bottom: 24px;
    }
    @include media-breakpoint-down(md) {
      padding-left: 54px;
    }
    &.aos-init {
      opacity: 0;
      transform: translate(-35px, -2px);
    }
    &.aos-animate {
      opacity: 1;
      transform: translate(0, 0);
      transition: 0.4s;
      transition-delay: 0.3s;
    }
  }
}
.news-section {
  background-color: #f1f1f1;
  padding-top: 66px;
  &__posts {
    flex-wrap: wrap;
    justify-content: space-evenly;
    @include media-breakpoint-down(sm) {
      align-items: center;
    }
  }
  .container {
    max-width: 1173px;
    padding: 0 15px;
    margin: auto;
  }
  h3 {
    margin: 0 0 66px 0;
  }
  .btn--link {
    max-width: 189px;
    align-self: flex-end;
    display: block;
    margin: 75px 0;
  }
}
.home {
  .linear-grad {
    background: linear-gradient(180deg, #2e3092 0%, #52b878 100%);
    width: 3px;
    height: 1500px;
    position: absolute;
    top: -202px;
    right: 50%;
    bottom: -70px;
    transform: translateX(50%);
    &:before {
      content: url("../../images/symbols/drop.svg");
      position: absolute;
      top: 0;
      transform: translate(-40%, -100%);
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
    &__container {
      position: relative;
      height: auto;
      width: 100%;
    }
  }
  .linear-grad-2 {
    background: linear-gradient(180deg, #b1b364 0%, #fcc249 45%, #fff22a 100%);
    width: 3px;
    height: 1860px;
    z-index: 2;
    position: absolute;
    top: -230px;
    right: 50%;
    transform: translateX(50%);
    &:before {
      content: url("../../images/symbols/drop-yellow.svg");
      position: absolute;
      bottom: -40px;
      transform: translate(-40%, -100%);
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
    &__container {
      position: relative;
      height: auto;
      width: 100%;
    }
  }
  .grad-block__left {
    padding-right: 100px !important;
    @include media-breakpoint-down(lg) {
      padding-right: 40px !important;
    }
    @include media-breakpoint-down(sm) {
      width: 74%;
      height: auto;
      padding-right: 0 !important;
    }
    &__img {
      overflow: hidden;
      position: relative;
      height: 361px !important;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include media-breakpoint-down(xs) {
        max-height: 161px;
      }
    }
  }
  .grad-block__right {
    max-width: 480px;
    margin-left: 100px;
    padding-right: 100px !important;
    @include media-breakpoint-down(md) {
      margin-left: 0;
      padding-right: 25px !important;
    }
    @include media-breakpoint-down(sm) {
      max-width: none;
    }
  }
}
