<div class="container-box">
    <section class="graph-cta d-flex align-items-center">
        <div class="graph-cta__text" data-aos="fade up">
            <h2>Alternative fuels</h2>
            <p>
                [Link to an article on alternative fuels] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada purus at risus posuere elementum.
            </p>
            <a href="#" class="btn--link">READ MORE ON ALTERNATIVE FUELS</a>
        </div>
        <div class="graph-cta__graph flex-center" data-aos="fade up">
            <img src="images/graph/Combined_Shape.svg" alt="#">
        </div>
    </section>
</div>