<div class="newsletter-box d-flex flex-column align-items-center">
	<h4>Signup to the Gane Newletter to be the first <br> to know about Gane’s Commercialisation Progress</h4>
	<form action="#" class="newsletter-box__form flex-center flex-column flex-lg-row">
		<div class="field-wrap">
			<label class="control-label" for="name">Full Name</label>
		    <input type="text" class="form-control" id="name" name="name" />
		</div>
        <div class="field-wrap">
        	<label class="control-label" for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" />
        </div>
        <button class="btn--yellow--primary newsletter-box__submit__btn"><span>Submit</span></button>
	</form>
    <div class="newsletter-box__submit__thank-you flex-center">
        <h4>Thanks for signing up</h4>
        <p><b>You'll be there first to hear about Gane's commerical progress plus relevant industry news</b></p>
    </div>
</div>