<section class="prominent-cta flex-center" data-line-stop>
    <video class="lazy" id="wood" muted autoplay loop poster="images/posters/wood.jpg">
        <source type="video/mp4" data-src="images/media/wood.mp4"/>
    </video>
    <div class="prominent-cta__content">
        <h2 class="text-white">Commencing commercialisation through licensing</h2>
        <p class="text-white">Our test program is due to complete in the first half 2020</p>
        <div class="prominent-cta__content__buttons d-flex justify-content-center align-items-center">
            <a href="#" class="btn--yellow--primary"><span>View the Gane Roadmap</span></a>
            <a href="#" class="btn--yellow--secondary"><span>Gane Corporate Profile</span></a>
        </div>
    </div>
</section>