.footer-cta {
  max-width: 1171px;
  padding: 148px 15px;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #dedede;
  overflow: hidden;
  h3 {
    margin-bottom: 28px;
    max-width: 586px;
    text-align: center;
  }
}
