.page-header {
  margin-bottom: 152px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 76px;
  }
  &__container {
    height: 303px;
    max-width: 1174px;
    margin: auto;
    padding: 0 15px;
    @include media-breakpoint-down(sm) {
      padding: 100px 15px 50px 50px;
      height: auto;
    }
    @include media-breakpoint-down(xs) {
      padding: 42px 23px 27px;
    }
  }
  &__text {
    h2 {
      max-width: 532px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 21px;
      }
    }
    p {
      max-width: 473px;
    }
    @include media-breakpoint-up(sm) {
      width: 50%;
    }
    &.aos-init {
      &:nth-child(1) {
        opacity: 0;
        transform: translate(-40px, -20px);
      }
      &:nth-child(2) {
        opacity: 0;
        transform: translate(40px, 20px);
      }
    }
    &.aos-animate {
      &:nth-child(1) {
        transition: 0.5s;
        opacity: 1;
        transform: translate(0, 0);
      }
      &:nth-child(2) {
        transition: 0.5s;
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
  &__img {
    height: 405px;
    margin: auto;
    @include media-breakpoint-down(sm) {
      height: 305px;
    }
    @include media-breakpoint-down(sm) {
      height: 205px;
    }
    &.aos-init {
      position: relative;
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $color-white;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &.aos-animate {
      &:before {
        transition: 0.5s;
        transition-delay: 0.8s;
        height: 0;
      }
    }
  }
}
