<div class="footer d-flex flex-column flex-lg-row justify-content-between">
    <div class="footer__img">
        <a href="index.html"><img src="{{header.img}}" alt="Gane Energy Logo"></a>
    </div>
    <div class="footer__item">
        <ul>
            <li><a href="index.html" class="btn--link">HOME</a></li>
            <li><a href="environment.html" class="btn--link">ENVIRONMENTAL IMPACT</a></li>
            <li><a href="why-gane.html" class="btn--link">WHY GANE FUEL</a></li>
            <li><a href="corporate-profile.html" class="btn--link">CORPORATE PROFILE</a></li>
        </ul>
    </div>
    <div class="footer__item">
        <ul>
            <li><a href="blog.html" class="btn--link">NEWS & INSIGHTS</a></li>
            <li><a href="contact.html" class="btn--link">Contact</a></li>
            <li><a href="#" class="btn--link">Privacy Policy</a></li>
            <li><a href="#" class="btn--link">Terms & Conditions</a></li>
        </ul>
    </div>
    <div class="footer__item">
        <p>
            Gane Fuel Commercialisation
        </p>
        <p>
            Gane Energy will derive revenues through licensing Gane Fuel to incumbent fuel companies or disrupters with the power to span the supply chain
        </p>
    </div>
</div>