<footer class="footer d-flex flex-column flex-sm-row align-items-center justify-content-center justify-content-sm-between">
    <div class="footer__social d-flex align-items-center">
        <a href="#" class="mr-3">
            <img src="images/social/linkedin.svg" alt="LinkedIn Logo">
        </a>
        <a href="#">
            <img src="images/social/twitter.svg" alt="Twitter Logo">
        </a>
    </div>
    <p class="rights-text">© Gane Energy 2019</p>
    <a href="#">
        <img src="images/logos/true.svg" alt="True Logo" class="footer__true-logo">
    </a>
</footer>