@font-face {
  font-family: "gane";
  src:
    url("../fonts/icomoon.eot"),
    url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.woff2") format("woff2"),
    url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gane";
  src:
    url("../fonts/icomoon_1.eot"),
    url("../fonts/icomoon_1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icomoon_1.woff2") format("woff2"),
    url("../fonts/icomoon_1.woff") format("woff"),
    url("../fonts/icomoon_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gane";
  src:
    url("../fonts/icomoon_2.eot"),
    url("../fonts/icomoon_2.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icomoon_2.woff2") format("woff2"),
    url("../fonts/icomoon_2.woff") format("woff"),
    url("../fonts/icomoon_2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
