<!doctype html>
<html lang="en">
<head>
    {{> ../common/head}}
</head>
<body class="contact">
{{> ../common/top-nav}}
{{> ../partials/page-header}}
<section class="form__block d-flex">
	<div class="form__block__left" data-aos="fade up">
		<h4>Location</h4>
		<p>
			Level 2, 649 Bridge Road <br>
			Richmond, Victoria, <br>
			Australia
		</p>
		<h4>Call</h4>
		<p>Joanna Huges <br>
			<a href="callto:+61423837233">(+61) 423 837 233</a>
		</p>
	</div>
	<div class="form__block__right" data-aos="fade up">
		<form action="#" class="form d-flex flex-column">
			<div class="field-wrap">
				<label class="control-label" for="name">Full Name</label>
                <input type="text" class="form-control" id="name" name="name" />
            </div>
            <div class="field-wrap">
                <label class="control-label" for="mobile">Mobile Number</label>
                <input type="text" class="form-control" id="mobile" name="mobile" />
            </div>
            <div class="field-wrap">
            	<label class="control-label" for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" />
            </div>
            <div class="field-wrap">
                <select name="reasons" id="reasons" class="form-control form__select2">
                    <option></option>
                    <option value="1">Reason 1</option>
                    <option value="2">Reason 2</option>
                    <option value="3">Reason 3</option>
                </select>
            </div>
            <div class="field-wrap">
            	<label class="control-label" for="message">Message</label>
                <textarea type="text" class="form-control" id="message" name="message"></textarea>
            </div>
            <button class="btn--blue--primary align-self-end form__submit__btn" type="submit"><span>SUBMIT</span></button>
		</form>
        <div class="form__submit__thank-you">
            <h4>Your enquiry has been submitted</h4>
            <p><b>Thankyou, one of our team members will get back to you shortly</b></p>
        </div>
	</div>
</section>
{{> ../common/footer-top}}
{{> ../common/footer-bottom}}
</body>
</html>
