<html lang="en">
<head>
    {{> ../common/head}}
</head>
<body class="environment">
{{> ../common/top-nav}}
{{> ../partials/page-header}}
{{> ../partials/gradient-content-block}}
{{> ../partials/half-size-img-block}}
<section class="small-img-block d-flex">
    <div class="small-img-block__left" data-aos="fade up">
        <img src="images/pictures/bee.jpg" alt="A bee">
    </div>
    <div class="small-img-block__right" data-aos="fade up">
        <div class="small-img-block__text">
            <h2>
                Gane Fuel is patented <br/>
                in over 50 territories around the world
            </h2>
            <p>
                <i>[This section should be a call-to-action that links to the Why Gane Fuel page]</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar ipsum eu nunc vulputate blandit. onsectetur adipiscing elit. Nulla pulvinar ipsum eu nunc vulputate
            </p>
            <a href="#" class="btn--blue--primary"><span>LEARN WHY GANE FUEL</span></a>
        </div>
    </div>
</section>
{{> ../common/footer-top}}
{{> ../common/footer-bottom}}
</body>
</html>
